
#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") bottom 70% center/cover no-repeat border-box;
    width: 100vw;
    height: 50vh;
    position: relative;
}

#product-overview h1 {
    color: white;
    font: 300 1.6rem 'Open Sans', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;

}

@media (min-width: 40rem) and (min-height: 30rem) {
    #product-overview {
        height: 60vh;
        background-position: left 20% bottom 80%;
    }

    #product-overview h1 {
        font-size: 2.5rem;
    }

}

.section-title {
    color: #19b84c;
    text-align: center;

}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}

.plan__features {
    list-style: none;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: white;
}

@media (min-width: 40rem) {
    .plans__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .plan {
        width: 30%;
        min-width: 12.8rem;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 28rem;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        z-index: 10;
        height: 32rem;
    }
}

.button--highlighted {
    border: 2px solid white;
    color: white;
}

.button--highlighted:hover {
    background: white;
    color: #19b84c;
    border-color: white;
}

#key-features {
    background: #ff1b68;
    margin-top: 3.7rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.key-features__item {
    font-weight: bold;
    color: white;
    margin: auto;
}

.key-features__image {
    background: #ffcede;
    border: 2px solid #454545;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: auto;
    padding: 1.2rem;
}

.key-features__description {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

}

@media (min-width: 40rem) {

    .key-features__list {
        display: flex;
        justify-content: center;
    }

    .key-features__item {
        width: 30%;
        max-width: 25rem;
        margin: 0 0.5rem;
    }
}

.modal {
    position: fixed;
    display: none;
    padding: 2rem;
    top: 30%;
    left: 30%;
    width: 40%;
    background: white;
    z-index: 200;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin-bottom: 1rem;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}